# No version control for data files: .dta, .csv, and .sav
# No version control for Stata project files or log files

*.dta
*.sav
*.csv
*.rar
*.stpr
*.smcl
*.pdf
*.sty
*.png
*.smcl
*.docx
*.html
*.DS_Store
*.Rhistory

ethiopia/household_code/wave_1/~2011_sect11_ph_w1.do.stswp
*.stswp
